@*@model IEnumerable<WebApplication1.Models.Bank>

<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.12.1/css/jquery.dataTables.css">
<h1 class="text-center"> <i class="fas fa-comment-dollar text-success"></i>Bank Master</h1>
<p>
    <a onclick="showPopUp('@Url.Action("Create","Bank",null,Context.Request.Scheme)', 'New Form')" class="btn btn-success text-white"><i class="fas fa-square-plus"></i> Add</a>
</p>

<table id="bankDatatables" class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.BankID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BankName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BankInfo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BankAccount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BankNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Channel)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.BankID)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.BankName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.BankInfo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.BankAccount)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.BankNumber)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Status)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Channel)
                </td>
                <td>
                    <a onclick="showPopUp('@Url.Action("Edit","Bank",new { id = item.ID},Context.Request.Scheme)', 'Edit Form')" class="btn btn-info text-white "><i class="fas fa-pencil-alt"></i> Edit</a>
                    <form asp-action="Delete" asp-route-id="@item.ID" class="d-inline">
                        <input type="submit" value="Delete" class="btn btn-danger" />
                    </form>
                </td>
            </tr>
        }
    </tbody>
</table>
@section Scripts{
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.12.1/js/jquery.dataTables.js"></script>
    <script>$(document).ready(function () {
    $('#bankDatatables').DataTable();
        });</script>
    

}*@

