@model IEnumerable<WebApplication1.Models.Bank>

@{
    ViewData["Title"] = "Index";
}
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.12.1/css/jquery.dataTables.css">
<h1 class="text-center"> <i class="fas fa-comment-dollar text-success"></i>Bank Master</h1>
<p>
    <a onclick="showPopUp('@Url.Action("Create","Bank",null,Context.Request.Scheme)', 'New Form')" class="btn btn-success text-white"><i class="fas fa-square-plus"></i> Add</a>
</p>

<table id="bankDatatables" class="table table-striped table-bordered dt-responsive nowrap">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BankID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BankName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BankInfo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BankAccount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BankNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Channel)
            </th>
            <th>
                Actions
            </th>
        </tr>
    </thead>
    @*<tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.BankID)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.BankName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.BankInfo)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.BankAccount)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.BankNumber)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Status)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Channel)
                    </td>
                    <td>
                        <a onclick="showPopUp('@Url.Action("Edit","Bank",new { id = item.ID},Context.Request.Scheme)', 'Edit Form')" class="btn btn-info text-white "><i class="fas fa-pencil-alt"></i> Edit</a>
                        <form asp-action="Delete" asp-route-id="@item.ID" class="d-inline"><input type="submit" value="Delete" class="btn btn-danger" /></form>
                    </td>
                </tr>
            }
        </tbody>*@
</table>
@section Scripts{
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.12.1/js/jquery.dataTables.js"></script>
    <script>
        $(document).ready(function () {
            $("#bankDatatables").DataTable({
                "processing": true,
                "serverSide": true,
                "filter": true,
                "ajax": {
                    "url": "/bank/GetFilteredItems",
                    "type": "POST",
                    "datatype": "json"
                },
                "columnDefs": [{
                    "targets": [0],
                    "visible": false,
                    "searchable": false
                }],
                "columns": [
                    { "data": "id", "name": "ID", "autoWidth": true },
                    { "data": "bankID", "name": "Bank ID", "autoWidth": true },
                    { "data": "bankName", "name": "Bank Name", "autoWidth": true },
                    { "data": "bankInfo", "name": "Bank Info", "autoWidth": true },
                    { "data": "bankAccount", "name": "Bank Account", "autoWidth": true },
                    { "data": "bankNumber", "name": "Bank Number", "autoWidth": true },
                    { "data": "status", "name": "Status", "autoWidth": true },
                    { "data": "channel", "name": "Channel", "autoWidth": true },
                    {
                        'data': null,
                        'render': function (data, type, row) {
                            return '<button id="' + row.id + '" onclick="showPopUp1(this)" class="btn btn-info text-white"><i class="fas fa-pencil-alt"></i> Edit</button>'
                                + '<button id="' + row.id + '" onclick="deleteClick(this)" class="btn btn-danger"><i class="fas fa-trash-alt"></i> Delete</button>'
                        }
                    }
                ]
            });
        });


        function showPopUp1(obj) {
            var Id = $(obj).attr('id');
            var title = 'Edit Form';
            $.ajax({
                type: "GET",
                url: '@Url.Action("Edit", "Bank")',
                data: {id : Id},
                success: function (res) {
                    $('#form-modal .modal-body').html(res);
                    $('#form-modal .modal-title').html(title);
                    $('#form-modal').modal('show');
                }
            })
        }
        //Edit button listener
        function editClick(obj) {
            var Id = $(obj).attr('id');
            window.location.replace("Bank/Edit/" + Id);
            alert("Cannot edit " + Id + " yet. Prepare BankEdit view first.");
        }
        //Delete button listener
        function deleteClick(obj) {
            var Id = $(obj).attr('id');
            window.location.replace("Bank/Delete/" + Id);
        }
    </script>

}
